.red {
  background-color: maroon;
  padding: 8px;
  border-radius: 4px;
  color: white;
}

.blue {
  background-color: midnightblue;
  padding: 8px;
  border-radius: 4px;
  color: white;
}

.enemy {
  padding: 16px;
  border-radius: 8px;
  color: black;
  background-color: white;
  line-height: 36px;
}

.visited {
  background-color: gray;
  color: white;
}

.visited .red,
.visited .blue {
  background-color: gray;
  color: white;
}

.map {
  flex: 1;
  width: 60%;
  padding: 16px 32px;
  position: absolute;
  color: white;
  font-family: printf, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  border: 2px solid blueviolet;
  background-color: rgb(111, 39, 121);
  border-radius: 8px;
}

.map > ul {
  margin: 0;
  padding: 0 0 8px 0;
  list-style: none;
}

.map li {
  margin-bottom: 16px;
}
