.hand {
  margin: 0;
  padding: 10px 0;
  list-style: none;
  display: flex;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
}

.options {
  display: flex;
  justify-content: center;
}

.options > div {
  padding-top: 32px;
}
